# Frontend Environment Configuration
NEXT_PUBLIC_SITE_URL=https://streamflix.pro.et
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Analytics Configuration
NEXT_PUBLIC_GA_ID=G-GM491BBS2F
NEXT_PUBLIC_UMAMI_WEBSITE_ID=0fbb83bd-d242-44ea-b99b-fe81f1380d03
NEXT_PUBLIC_UMAMI_SCRIPT_URL=https://cloud.umami.is/script.js
